
.secondpage{
    
    height: 100vh;
    background-image: url('../../../assets/images/secondpage.webp');   
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: beige;
    text-align: justify;
    width: 100vw;
    
}
.second1{
    padding: 50px;
    margin-right:100px ;    
    margin-left: 150px;
    overflow-x: hidden;

}
.second2{
    
    margin-right:100px ; 
    margin-left: 100px;
    text-align: center;
    overflow-x: hidden;

}
