.hero {
    background-image: url('../../../assets/images/home_bgv.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.cardfront{
  width: 20%;
  margin-left: 10%;
  color: white;
}
.btn,.btn:hover{
  background-color: orangered;
  color: white;
  border-radius: 0px 5px 5px 0px;
}


.line{
  margin-top: 15%;
}

.helo{
  font-family: 'Comforter Brush', cursive;
  font-size: 60px;
}

.mail{
  color: black;
  height: 50px;
  margin-top: 15%;
}

.m{
  background-color: white;
  display: flex;
  align-items: center;
}

.m1{
  background-color: orangered;
  display: flex;
  align-items: center;
  color: white;
}

.number{
  border: 2px solid white;
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  gap: 12px;
 
}
.cardfront>.line>div:hover{
  /* background: rgb(255,127,7);
/* background: linear-gradient(90deg, rgba(255,127,7,1) 56%, rgba(0,0,0,0) 100%); */
/* background: linear-gradient(to left, rgb(255,127,7)50%, rgba(251, 251, 251, 0) 50%) right;
  transition:  .5s ease-out; */
/* background: linear-gradient(to right, rgba(255,127,7,1) 56%, rgba(0,0,0,0) 100%); */
background: linear-gradient(to right, rgb(255,127,7)56%, rgba(251, 251, 251, 0) 100%);
transition: all 1s ease-out;

  background-position: left bottom;
    
  
}
.cardfront>.line>div{
background: transparent;
  background-size: 200% 100%;
  background-position: right bottom;
  cursor: pointer;
}
