

.datacard{
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 35vh;
    border-radius: 25px;
    padding: 1%;
    
}

.openModalBtn{
    cursor: pointer;

}

.datacards{
    display: flex;
    gap: 50px;
    padding-left: 12%;
    padding-top: 2%;
   
}
.datacard:hover {
    border-bottom: 15px solid orange;
    
    
    cursor: pointer;
}

.dataheader{
    color: orange;
    padding-left: 11%;
    margin-top: 5%;
}
.addbtn{
    margin-right: 15%;
    cursor: pointer;
}

.productimg{
    height:20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 75%;

   
    
}

.check{
    color: green;
    font-size: 15px;
}
.check1{
    color: red;
    font-size: 15px;
}


@media (max-width:700px){
  
    .datacards{
        padding:6%;
    
    }
}
