@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.logotrade{
    height: 80px;
    width:150px;
    position: relative;
   
}
button {
    background-color: rgb(255, 127, 7);
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
}
.button:hover{
    transform: scale(1);
    box-shadow: 0px 10px 10px #888888;
    cursor: pointer;
}
.navcontent {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
}

.content1 {
    display: flex;
    padding-bottom: 30px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    

}



.nav1 {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    background-color: rgb(241, 240, 241);
    height: 70px;
    margin-top: 2%;
}

.h{
    font-size: medium;
    text-decoration: none;
    color: rgb(22, 22, 22);
    cursor: pointer;
}
.h:hover{
    color:  rgb(255, 127, 7);
    border-bottom: 4px solid  rgb(255, 127, 7);
}



/* .wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
} */

.overall{
    margin-top: 3%;
    margin-left: 10%;
 

}
.suppliers{
    margin-top: 3%;
}
.headertrade{
   
}
.cs{
    color: orangered;
    font-size: 40px;
}
.head{
    font-size: 20px;
}
.cement{
    width: 100%;
   
}
.ccard{
    border:2px solid orangered;
    border-radius: 25px;
    height: 35vh;
}
.cardimage{
    height: 50%;
   padding-top: 5%;
    padding-left: 25%;
}
@media(max-width:800px){
    .content1 {
        display: none;
    }
    .abovenavd1{
       display: none !important
       
    }
    
    
}