
.outer-modeldiv{
  background-color: transparent;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  cursor: default;
}
  .modalContainer {
  
    width: 50%;
    height: 70%;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
   
    margin: 10% 25%;
    opacity:1;
    visibility:visible;



  }

  .modalimg{
    height: 100%;
    width: 70%;
  }

  .closebutton{
    float: right;
    font-size: 30px;
  }

  @media(max-width:800px){
    .modalContainer{
      width: 75%;
      left:10%;
      top:30%
    }
  }
  
  