.logoscon{

   text-align: center;
   align-items: center;
   gap: 2%;
}
.mailcon{
    text-decoration: none;
    color: gray;
    margin-top: 5px;
}

.frame{ 
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.productscon{
    text-align: center;
}
.mainlogo{
    text-align: center;
}
.addresscon{
    display: flex;
    justify-content: space-evenly;
    font-size: medium !important;
    font-weight: bold;
    letter-spacing: 1px;
}
.address{
    padding-left: 50px;
}
.logocon{
    height: 100px;
    width: 100px;

}
.data{
    color:orangered;
    text-transform: uppercase;
    font-size:large;
    
}

.aboutfull{
    text-align: center;
    
}

@media  (max-width:600px){
    .addresscon{
        display: block;
        
        margin-left: 50px;
        
    }
    .address{
        margin-left: 10vw;
    }

    .frame{ 
        width: 80%;
        height: 200px;
        border-radius: 20px;
    }
}