.loadimg{
    height: 90vh;
    width: 100vw;
}
.load{
    position: absolute;
    bottom: 28%;
    margin-left: 48%;
    color: orange;

}
@media (max-width:600px) {
    .load{
        position: absolute;
        bottom: 28%;
        margin-left: 40%;
        color: orange;
    
    }
}
