.loading{
    height: 100vh;
}

.loadimg{
    
    height: 90vh;
    width: 100vw;
}
.load{
    position: absolute;
    bottom: 30%;
    margin-left: 48%;
    color: orange;

}
@media (max-width:600px) {
    .load{
        position: absolute;
        bottom: 40%;
        margin-left: 40%;
        color: orange;
    
    }
    .loadimg{
        position: absolute;
        height: 50vh;
        width: 100vw;
        top: 20%;
    }
}