.abovenavd {
    display: flex;
    justify-content: end;
    gap: 10px;
    color: white;
    height: 40px;
    align-items: center;
    background-color: black;
    letter-spacing: 2px;
    padding-right: 20px;
}
.abovenavm{
    height: 10px;
    background: none;
}

.logo {
    height: 100px;
    width:100px;
    position: relative;
    bottom: 30px;
}

.button {
    background-color: rgb(255, 127, 7);
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
}
.button:hover{
    transform: scale(1);
    box-shadow: 0px 10px 10px #888888;
    cursor: pointer;
}
.content {
    display: flex;
    padding-bottom: 6px;
    gap: 20px;
    align-items: center;

}



.navfordesk {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    background-color: white;
    height: 70px;


}
.navcontent {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.h{
    font-size: medium;
    text-decoration: none;
    color: grey;
    cursor: pointer;

    -webkit-transition: .1s all;   
    -webkit-transition-delay: .1s; 
    -moz-transition: .1s all;   
    -moz-transition-delay: .1s; 
    -ms-transition: .1s all;   
    -ms-transition-delay: .1s; 
    -o-transition: .1s all;   
    -o-transition-delay: .1s; 
    transition: .1s all;   
    transition-delay: .1s; 

}
.h:hover{
    color:  rgb(255, 127, 7);
    border-bottom: 4px solid  rgb(255, 127, 7);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
