.construction{
   margin: 5% ;
    height:20% ;
    margin-left: 18%;
    width: 60vw;
    background: rgb(255,112,10);
    background: linear-gradient(90deg, rgba(255,112,10,1) 0%, rgba(250,250,250,1) 0%, rgba(255,166,0,1) 100%);
    border-left: 20px solid orange;  
    
}

.conimg{
    padding: 5%;
    height: 100%;
    width: 75%;
}