
.phead{
    /* height: 50vh; */
    background-color: black;
    background-image: url('../../../assets/images/pheader.jpeg');

    background-size: cover;
    background-position: center;

}
.headercontent{
    color: white;
    padding: 5%;
}
.headercontent h1{
    color: orange;
   
}
.headbtn{
    border-radius: 10px;
    height: 50px;
    width: 150PX;
    padding-top: 10PX;
    background-color: rgb(255, 127, 7);
    color: white;
    cursor: pointer;
    /* box-shadow: none; */
}
.headbtn:hover{
    /* box-shadow: 10px 10px 10px 5px rgb(255, 127, 7); */
    transform: scale(1.05);
    box-shadow: rgba(255, 127, 7, 1) 0px 50px 100px -20px, rgba(255, 127, 7, 1) 0px 30px 60px -30px;
}

@media (max-width:800px) {
    .headbtn{
        display: none;
    }
}